/* Feuille de styles CSS */
body 
{
  background-image:url('dd7b5a454c6e895ec6f409f45e939c09.jpg');
  color: blue;
  font-family: 'Anton', sans-serif;
}

h1 {
  color: rgb(255,0,0);
  font-size: 3em;
  font-family: 'Anton', sans-serif;
}

figure {
  text-align:center;
}


ul {
  border: 1px solid pink;
  box-shadow: 6px 6px 0px blue;
}


a:hover {
  font-weight:bold;
}
